.html{
  font-family: 'Quicksand' !important;
}

.nav-logo {
    width: 50px;
    height: auto;
    padding-left: 10px;
}
.navbar-custom{
    background-color: #4078a5;
}
.my-account-link {
    color: white;
    font-size: 15px;
}
.my-account{
    background-color: #4078a5;
    border-bottom: white;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
.navbar-item {
  text-align: right;
}
.navbar-brand{
  padding-bottom: 0;
  /* font-family: 'Kalam', cursive; */
  /* font-family: 'Nothing You Could Do', cursive; */
  /* font-family: 'Shadows Into Light Two', cursive; */
  font-family: 'Courgette', cursive;
  font-size: 2em;
  /*text-decoration: underline;*/

}
.nav{
  padding-bottom: 0;
}

.page-footer{
  background: black;
}
.icon{
  color: white;
}

.disc-image{
  width: 20em;
  height: auto;
}
@media only screen and (max-width: 997px) {
  .navbar-collapse{
    background-color:  #5a91bf;
  }
  .nav-item{
    border-bottom: white;
  }
  .nav-cart, .s-form{
      display: none;
  }
}
.fa-stack[data-count]:after{
  position:absolute;
  right:10%;
  top:12%;
  content: attr(data-count);
  font-size:35%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width:2em;
  font-weight:bold;
}
